Pandas

Importing pandas library

In [1]:
import pandas as pd

Reading data from dict

In [5]:
import pandas as pd
data ={
    'City': ['New York', 'Los Angeles', 'New York', 'Chicago', 'Los Angeles'],
    'Sales': [250, 150, 200, 300, 400],
    'Expenses': [150, 100, 120, 200, 220]
}
sd=pd.DataFrame(data)
print(sd)

          City  Sales  Expenses
0     New York    250       150
1  Los Angeles    150       100
2     New York    200       120
3      Chicago    300       200
4  Los Angeles    400       220

Reading data from list and series

In [6]:
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
ages = pd.Series([25, 30, 35, 40])

df = pd.DataFrame({
    'Name': names,
    'Age': ages
})

print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40

Reading data from list of Dictionary

In [ ]:
import pandas as pd
data = [
    {'Name': 'Alice', 'Age': 25, 'City': 'New York'},
    {'Name': 'Bob', 'Age': 30, 'City': 'Los Angeles'}
]

df = pd.DataFrame(data)
print(df)

    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles

How to read a csv file

In [ ]:
import pandas as pd
data = pd.read_csv("File_path.csv")

Basic inspection methods

In [ ]:
print(df.head())      # First 5 rows
print(df.tail())      # Last 5 rows
print(df.shape)       # (rows, columns)
print(df.columns)     # List of column names
print(df.info())      # Summary (data types, null counts)
print(df.describe())  # Statistical summary for numerical columns

Accessing columns in a dataset

In [ ]:
print(df['Name'])     # Access single column (Series)
print(df[['Name', 'Age']])  # Access multiple columns (DataFrame) and also more columns

Accessing rows in a dataset

In [ ]:
#By index label:

print(df.loc[2])
#By integer position:

print(df.iloc[2])


Boolean Filtering

In [8]:
# Example DataFrame
import pandas as pd
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
})

# Filter rows where Age is greater than 30
filtered_df = df[df['Age'] > 30]
print(filtered_df)

      Name  Age     City
2  Charlie   35  Chicago
3    David   40  Houston

For multiple conditions

In [9]:
#Use & (and), | (or), ~ (not) operators.

# Age > 25 AND City is Chicago or Houston
filtered_df = df[(df['Age'] > 25) & (df['City'].isin(['Chicago', 'Houston']))]
print(filtered_df)

      Name  Age     City
2  Charlie   35  Chicago
3    David   40  Houston

Example 1: Import CSV and Filter

In [11]:
import pandas as pd
data=pd.read_csv("Sales Dataset.csv")
# Filter where Sales > 1000
high_sales = data[data['Profit'] > 1000]

print(high_sales.head())

  Order ID  Amount  Profit  Quantity     Category      Sub-Category  \
0  B-26776    9726    1275         5  Electronics  Electronic Games
1  B-26776    9726    1275         5  Electronics  Electronic Games
2  B-26776    9726    1275         5  Electronics  Electronic Games
3  B-26776    4975    1330        14  Electronics          Printers
4  B-26776    4975    1330        14  Electronics          Printers

  PaymentMode  Order Date   CustomerName     State     City Year-Month
0         UPI  2023-06-27  David Padilla   Florida    Miami    2023-06
1         UPI  2024-12-27  Connor Morgan  Illinois  Chicago    2024-12
2         UPI  2021-07-25   Robert Stone  New York  Buffalo    2021-07
3         UPI  2023-06-27  David Padilla   Florida    Miami    2023-06
4         UPI  2024-12-27  Connor Morgan  Illinois  Chicago    2024-12

Group sales by product category

In [12]:
group=data.groupby('Amount')['Profit'].sum()
print(group)

Amount
508      1062
514       218
523        95
526        83
531       189
        ...
9921     1451
9952     3301
9965     6066
9989    11790
9992    11088
Name: Profit, Length: 773, dtype: int64

Example 3: Filtering and grouping together

In [ ]:
filtered = df[df['Region'] == 'North']
grouped = filtered.groupby('Product')['Profit'].mean()
print(grouped)